name: GitHub Traffic Stats
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update-stats:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Update repository stats
        uses: enriikke/repository-stats@v1.2.2
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          repository: ${{ github.repository }}
          # Les données seront stockées dans une branche dédiée
          data-branch: traffic
